<input type='search' placeholder="Give minimum rating" [(ngModel)]='searchTerm' [ngModelOptions]="{standalone: true}">

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Release Date</th>
            <th scope="col">Rating</th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let movie of this.movieList.items; let i = index">
        <tr *ngIf="movie.vote_average > searchTerm">
            <th scope="row"> {{i+1}} </th>
            <td>{{ movie.title }}</td>
            <td> {{ movie.release_date }} </td>
            <td> {{ movie.vote_average }} </td>
            <td><button (click)="setCurrent(movie)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary">More</button></td>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                {{ current.title }}
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p> {{ current.overview }} </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </tr>

    </tbody>
</table>